<% layout('./layout/page') -%>
  <% block('title', 'Чат'); -%>

    <p class="lead">Здесь будет чат</p>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      socket.on("news", function (data) {
        console.log(data);
        socket.emit("my_event", {my: "data"});
      });
    </script>
