<% layout('./layout/page') -%>
<% block('title', "Регистрация и вход") -%>

<p>Введите имя пользователя и пароль. Если такого пользователя нет - он будет создан.</p>

<form class="form-horizontal login-form" action="/login" method="post" name="login-form">
  <div class="form-group">
    <label for="input-username" class="col-lg-2 control-label">Имя</label>

    <div class="col-lg-10">
      <input name="username" value="" type="text" class="form-control" id="input-username" placeholder="Имя">
    </div>
  </div>
  <div class="form-group">
    <label for="input-password" class="col-lg-2 control-label">Пароль</label>

    <div class="col-lg-10">
      <input name="password" value="" type="password" class="form-control" id="input-password" placeholder="Пароль">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Войти</button>
      <span class="help-block error"></span>
    </div>
  </div>
</form>
<script>

    const form = document.querySelector('form');
    console.log( form);

    form.addEventListener('submit', function (event) {
      event.preventDefault();
      const formData = new FormData(form);
        fetch('/login', {
            method: 'POST',
            body: formData
        }).then((response) => {
            console.log(response.status);
            if (response.status == 200) {
              console.log(response)
              //  window.location.href = "/chat";
            }
            if (response.status == 403) {
              console.log('Пароль неверен')
            }

        }).catch(err => console.log(err))
    })

</script>